body{
    background-color: teal;
    font-family: sans-serif;
}

.header{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px;
}

.textbox{
    padding: 7px;
    border-radius: 15px;
    background-color: lightblue;
    margin-top: 30px;
}

.btn{
    background-color: lightblue;
    border-radius: 15px;
    padding: 7px;
}

.bottom{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

hr{
    margin-top: 35px;
}